html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}



/* Estilo para el dropdown */
.navbar .dropdown-menu {
    background-color: #ffffff; /* Fondo blanco */
    transition: all 0.2s ease-in-out;
}

/* Efecto hover para cada item */
.navbar .dropdown-item.categoria-item {
    transition: all 0.2s;
    color: #dc3545; /* rojo bootstrap */
    font-weight: 500;
}

.navbar .dropdown-item.categoria-item:hover {
    background-color: #dc3545; /* fondo rojo al pasar */
    color: #fff; /* texto blanco */
    transform: translateX(5px); /* pequeño desplazamiento */
}

/* Efecto hover en el link principal del dropdown */
.navbar .nav-link.dropdown-toggle:hover {
    color: #b02a37; /* rojo más oscuro */
}
.card:target {
  outline: 3px solid #e91e63;
  box-shadow: 0 0 15px rgba(233, 30, 99, 0.6);
}  


.titulo-principal {
  padding-top: 100px;
}

/*TITULOS DE LAS SECCIONES*/
/* SECCIÓN GENERAL */
.seccion-productos {
  margin-top: 80px;
}

/* TÍTULO DE SECCIÓN */
.titulo-seccion {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 50px;
  position: relative;
}

/* LÍNEA SUTIL DEBAJO */
.titulo-seccion::after {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background: #000;
  margin: 20px auto 0;
}
